.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: #000;
}
.banner h1 {
  color: #000!important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 3.3rem;
  text-transform: uppercase;
  margin-bottom: 20rem;
  padding: 0 1rem;
  letter-spacing: 6px;
}
.banner p {
  font-family: "Chewy", sans-serif;
  color:var(--primaryColor);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  width: 85%;
  font-size: 4rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: 4.5rem;
  }
  .banner p {
    width: 70%;
  }
}
